<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %>!</h1>
    <div>
      <% holidayDetails.forEach(holiday => { %>
      <h2><%= holiday.title %></h2>
      <ul>
        <li><%= holiday.date %></li>
        <li><%= holiday.description %></li>
      </ul>
      <% }) %>
    </div>
  </body>
</html>
